<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.e-gallery-container {
	overflow-x: hidden;
	overflow-y: scroll;
}
</style>
<!-- end Simple Custom CSS and JS -->
